<html lang="en">
<head>
    <meta http-equiv="Content-Type" charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{{!-- <link rel="stylesheet" href="/assets/css/style.css" type="text/css" /> --}}
		<title>Swipe Away</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/swipe.js"></script>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/paralexcss/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/paralexcss/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="/Materialize/css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" href="/assets/swipe.css">
    <link rel="stylesheet" type="text/css" href="/Slick/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="/Slick/slick/slick-theme.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	</head>
	<body>
		{{{ body }}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    <script type="text/javascript" src="/Slick/slick/slick.min.js"></script>
    <script type="text/javascript" src="/js/swipe.js"></script>
    {{!-- <script type="text/javascript" src="/scripts/handlebars-0.9.0.pre.4.js"></script> --}}

	</body>
</html>
