/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
    color: rgba(255, 255, 255, 0.9);
}

.responsive-img {
    background-size: 80%;
}

.content-container {
    background-color: rgb(0, 0, 255, 0.6);
    padding: 10px;
    margin-bottom: 80px;
}

.input-field.col label {
    color: white;
}

#first_name {
    color: white;
}

#last_name {
    color: white;
}

#email {
    color: white;
}

#password {
    color: white;
}

#fandom {
    color: black !important;
}

#cosplay {
    color: white;
}

.dropdown-content select-dropdown multiple-select-dropdown {
    color: white;
}

.dropdown-content li>span {
    color: black;
}

.select-wrapper input.select-dropdown {
    color: white;
}

.select-wrapper input.select-dropdown {
    color: white;
}

span {
    color: white;
}

.sidenav-trigger {
    color: #fff8e1 amber lighten-5;
}

.parallax-container {
    min-height: 360px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, 0.9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
    color: #fff8e1 amber lighten-5;
}