/* @import "../../node_modules/slick-carousel/slick/slick.css";
@import "../../node_modules/slick-carousel/slick/slick-theme.css"; */

.cards {
    width: 90%;
    margin: 0px auto;
}

.card.medium{
    padding: 3px;
}

/* @media only screen and (max-width: 600px) {
    body {}
} */

.wrapper{
    overflow: hidden;
}